@font-face {
  font-family: JimNightshade;
  src: url('JimNightshade-Regular.ttf') format('truetype');
}


html {
    overflow: hidden;
    height: 100%;
    width:100%;
    position: relative;
}

body {
    height: 100%;
    width:100%;
    margin: 0;
    overflow: hidden;
}

body {
  	background: #fcfcfa;
    font-family: verdana, arial, sans-serif;
}



#title_banner {
	font-family:  JimNightshade, Times, sans-serif;
	font-size: 8vh;
	height:10%;
	padding: 1.5vh;
}


#top_controls {
	position: absolute;
	right: 12px;
	top: 6px;
	text-align: right;
}



#map_tag {
    border: 3px solid; 
    display: inline-block;
    margin-left: 10px;
	height: 84%;

}

#map_tag.texton {
	width: 48%;
}

#map_tag.textoff {
	width: 84%;
}

#lateral_panel {
	position: absolute;
	display: inline-block;	
    right:10px;
    height: 84%;
}

#lateral_panel.texton {
	width: 50%;
}

#lateral_panel.textoff {
	width: 14%;
	/*width: 150px*/
	/*float: right;*/
	text-align:center;
}


#text_tag {
	position: absolute;
	top: 0px;    
	bottom: 200px;
	width: 95%;
	padding-top: 1.5%;
	padding-left: 2.5%;
    padding-right: 2.5%;    
    font-size: 80%;
    overflow: scroll;
	margin-bottom: 1em;
}

#text_tag.texton {
	display: block;
}

#text_tag.textoff {
	display: none;
}

#controls_tag {
	width: 95%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    margin-left: 1%;
    margin-right: 1%;
	border-top: 1px solid;
	
}	

#controls_tag.texton {
	height: 200px;
	position: absolute;
	bottom: 0px;
	width: 95%;
	display: flex;
    justify-content:space-between;
}


#controls_tag.textoff {
	height: 85vh;	
}



.control_block.texton {
	max-width: 20vw;
	display: inline-block;
	vertical-align: top;
}


.control_block.textoff {
	max-width: 15vw;
	display: block;
	vertical-align: top;
	margin-bottom: 3em;

}


.control_title {
	text-align: center;
	font-weight: bold;
	margin: 5px;
}






/* Buttons */
#tool_buttons {
	max-width:380px;
}

#tool_buttons label {
	width: 140px;
}

#tool_buttons div {
	padding: 2px;
}

#text_controls {
	margin-top: 5px;
}

.subtool {
	display: none; /* activated by js */
	margin: 2px;
	margin-bottom: 5em;
}

#common_tools {
	margin: 2px;
	margin-top: 1em;"
}






#projection-menu {
	display: inline; 
	vertical-align: top; 
	font-size: 12pt;
}








h2 {
	margin-top: 0px;
}

select {
outline: none;}



button {
	padding:0px;
	margin:0px;
}


/*http://viralpatel.net/blogs/css-radio-button-checkbox-background/ */

input[type=radio], input[type=checkbox], input[type=button] {
		display:none;
	}

	input[type=radio] + label, input[type=checkbox] + label, input[type=button] + label {
		display:inline-block;
		height: 23px;
		margin:-2px;
		padding: 4px 12px;
		margin-bottom: 0;
		font-size: 14px;
		line-height: 20px;
		color: #333;
		text-align: center;
		text-shadow: 0 1px 1px rgba(255,255,255,0.75);
		vertical-align: middle;
		cursor: pointer;
		background-color: #f5f5f5;
		background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
		background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
		background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
		background-image: -o-linear-gradient(top,#fff,#e6e6e6);
		background-image: linear-gradient(to bottom,#fff,#e6e6e6);
		background-repeat: repeat-x;
		border: 1px solid #ccc;
		border-color: #e6e6e6 #e6e6e6 #bfbfbf;
		border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
		border-bottom-color: #b3b3b3;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
		filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
		-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
		-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	}

	input[type=radio]:checked + label, input[type=checkbox]:checked + label, input[type=button]:checked + label {
		   background-image: none;
		outline: 0;
		-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
		-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
		box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
			background-color:#e0e0e0;
	}

select, button {
	font-size:90%;
    padding: 5px 5px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}	

input[type=number] {
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;    
    height:12px;
	margin:0px;
	padding: 2px 12px;
	margin-bottom: 0px;
	font-size: 14px;
}

/* https://www.w3schools.com/howto/howto_css_tooltip.asp */
 /* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;  If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/*Language menu*/

 /* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    /*min-width: 120px;*/
    overflow: auto;
    right: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 6px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;} 